<!-- Homepage Content -->
<link rel="stylesheet" href="content/app.css">
<table id="home_content">
    <tr>
        <td>
            <p>An online survey maker<br>to meet all your survey making needs!</p>
            <br>
            <a href="/templates" class="btn btn-dark">
                View Templates
            </a>
        </td>
        <td>
           <!-- <img id="computer" src="assets/images/computer.png" alt="computer" width="450px" height="400px"> -->
           <img id="computer" src="assets/images/Author Logo Pen Writing.gif" class="gif" alt="computer" width="450px" height="400px"> 

    
        </td>

    </tr>
</table>