<!-- Homepage Content -->
<div id="home_content">
    <p>An online survey maker<br>to meet all your survey making needs!</p>

    <!-- <a href="/createsurvey">
        <button type="button" class="btn btn-dark">New Survey</button>
    </a> -->
    <a href="/templates">
        View Templates
    </a>
    <img id="computer" src="assets/images/computer.png" alt="computer" width="450px" height="400px">
</div>