<!-- Homepage Content -->
<table id="home_content">
    <tr>
        <td>
            <p>An online survey maker<br>to meet all your survey making needs!</p>
            <br>
            
            <button class="btn btn-primary" type="submit">
          <a id="viewtemplates" href="/templates">View Templates</a>
        </button>
        </td>
        <td>
            <img id="computer" src="assets/images/computer.png" alt="computer" width="450px" height="400px">
        </td>
    </tr>
</table>