<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
  <a class="navbar-brand" href="/"><img src="assets/images/logo.png" alt="logo" width="50px" height="50px"> DAZJIM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item active">
        <a class="nav-link" href="/home"> <i class="fa-solid fa-house"></i> Home</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/templates"> <i class="fa-solid fa-list"></i> Surveys</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/pricing"> <i class="fa-sharp fa-solid fa-money-check-dollar"></i> Pricing</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
         <i class="fa-sharp fa-solid fa-clipboard"></i> Previous Surveys
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/surveylist">Nespresso</a></li>
          <li><a class="dropdown-item" href="/surveylist1">Ardene</a></li>
          <li><a class="dropdown-item" href="/surveylist2">Student</a></li>
          <li><a class="dropdown-item" href="/surveylist3">Xbox</a></li>
        </ul>
      </li>

        <% if(typeof displayName == 'string' && displayName) { %>
          <li class="navbar-text"><i class="fas fa-lg fa-user"></i> Welcome, <%= displayName %></li>
          <li class="nav-item"><a href="/logout" class="nav-link">
            <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a></li>
        <% } else { %>
          <li class="nav-item"><a href="/login" class="nav-link">
            <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>
        <% } %>
      
    </ul>
  </div>
</nav>
