<nav class="navbar navbar-expand-lg navbar-light" style="background-color: gray;">
  <a class="navbar-brand" href="/"><img src="assets/images/logo.png" alt="logo" width="50px" height="50px"> DAZJIM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item active">
        <a class="nav-link" href="/home"> Home</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/templates"> Templates</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/pricing"> Pricing</a>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Previous Surveys
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/surveylist">Template 1</a></li>
            <li><a class="dropdown-item" href="/surveylist2">Template 2</a></li>
            <li><a class="dropdown-item" href="/surveylist3">Template 3</a></li>
            <li><a class="dropdown-item" href="/surveylist4">Template 4</a></li>
          </ul>
        </li>

    </ul>
  </div>
</nav>