<!-- Pricing Content -->
<div class="pricing_container">
    <table id="pricing_content">
        <tr>
            <td colspan="3">
                <h1>Pricing Packages</h1>
            </td>
        </tr>
        <tr>
            <td>
                <div class="pricing">
                    <h4>Basic</h4>
                    <ul style="list-style: none;">
                        <li>1 Survey</li>
                        <li>Stay up to date on new surveys</li>
                        <li>$3.99</li>
                        <li>
                            <button class="btn btn-primary" type="submit">
                                Select Plan
                            </button>
                        </li>
                    </ul>
                </div>
            </td>
            <td>
                <div class="pricing">
                    <h4>Advanced</h4>
                    <ul style="list-style: none;">
                        <li>2 Surveys</li>
                        <li>Stay up to date on new surveys</li>
                        <li>$4.99</li>
                        <li>
                            <button class="btn btn-primary" type="submit">
                                Select Plan
                            </button>
                        </li>
                    </ul>
                </div>
            </td>
            <td>
                <div class="pricing">
                    <h4>Pro</h4>
                    <ul style="list-style: none;">
                        <li>3 Surveys</li>
                        <li>Stay up to date on new surveys</li>
                        <li>$5.99</li>
                        <li>
                            <button class="btn btn-primary" type="submit">
                                Select Plan
                            </button>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</div>