<!-- Pricing Content -->
<link rel="stylesheet" href="content/app.css">
<div class="Pricing">
<div id=container>
   
  <div id=flip>
      <div><div>Available</div></div>

     <div><div>Packages</div></div>
   
    <div><div>Packages</div></div>
    
  </div>
</div>

<!--<h1 id="pricing_heading">Pricing Packages</h1>-->
<table id="pricing_content">
    <tr>
        <td>
            <div class="pricing">
                <h4>Basic</h4>
                <ul style="list-style: none;">
                    <li>1 Survey</li>
                    <li>Stay up to date on new surveys</li>
                    <li>$3.99</li>
                    <li>
                        <button class="btn btn-dark" type="submit">
                            Select Plan
                        </button>
                    </li>
                </ul>
            </div>
        </td>
        <td>
            <div class="pricing">
                <h4>Advanced</h4>
                <ul style="list-style: none;">
                    <li>2 Surveys</li>
                    <li>Stay up to date on new surveys</li>
                    <li>$4.99</li>
                    <li>
                        <button class="btn btn-dark" type="submit">
                            Select Plan
                        </button>
                    </li>
                </ul>
            </div>
        </td>
        <td>
            <div class="pricing">
                <h4>Pro</h4>
                <ul style="list-style: none;">
                    <li>3 Surveys</li>
                    <li>Stay up to date on new surveys</li>
                    <li>$5.99</li>
                    <li>
                        <button class="btn btn-dark" type="submit">
                            Select Plan
                        </button>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
</table>
</div>


