<!--contains templates page content-->
<div class = "container" id = "cont">
    <h1 id = "amt"><%= title %></h1>
        <div>
            <table class="templates">
        <tr>
            <th>
            <a href = "/template1">
            <!--<img src="../images/template1.jpg" class="temp1" alt="template 1">-->
                <br> Template 1
            </th>
            </a>
            <a href = "/template2">
            <th>
            <!--<img src="../images/template2.jpg" class="temp2" alt="template 2">-->
                <br> Template 2
            </th>
            </a>
         </tr>
         <tr>
            <a href = "../templates/temp3.ejs">
            <th>
            <!--<img src="../images/template3.jpg" class="temp3" alt="template 3">-->
                <br> Template 3
            </th>
            </a>
            <a href = "../templates/temp4.ejs">
            <th>
            <!--<img src="../images/template4.jpg" class="temp4" alt="template 4">-->
                <br> Template 4
            </th>
            </a>
        </tr>
    </table>  
    <br><br>
</div>


<%- include footer.ejs %> 