<!--contains templates page content-->
<div class = "container" id = "cont">
    <!-- <h1 id = "amt"><%= title %></h1> -->
        <div>
            <table class="templates">
        <tr>
            <th>
            <a href = "/template1">
            <img src="/assets/images/Survey1.png" class="temp1" alt="template 1">
                <br>Template 1
            </th>
            </a>
            <th>
            <a href = "/template2">    
            <img src="/assets/images/Survey2.png" class="temp2" alt="template 2">
                <br>Template 2
            </th>
            </a>
            <th>
                <a href = "/template3">
            <img src="/assets/images/Student survey.png" width="350"  border-radius="50%" class="temp3" alt="template 3">
                <br><br><div class="btn btn-primary">Student survey</div>
            </th>
            </a>
         </tr>
         <tr>
        </tr>
    </table>  
    <br><br>
</div>


<%- include footer.ejs %> 
