<h2>Survey Template No.2 </h2>
<hr style="border-style: solid; border-color: rgb(27, 27, 27); border-width: 1px;"> 

<button type="button" class="btn btn-primary">Add your Questions</button>
<button type="button" class="btn btn-primary">Edit your Questions</button>
<br><br>

<fieldset class="border">
<form>
<div class="question">

<h3>Question 1</h3>
<input type="radio" id="stronglyAgree" value="stronglyAgree" name="question1" />
<label for="stronglyAgree">Strongly Agree</label>
<input type="radio" id="agree" value="agree" name="question1" />
<label for="agree">Agree</label>
<input type="radio" id="disagree" value="disagree" name="question1" />
<label for="disagree">Disagree</label>
<input type="radio" id="stronglyDisagree" value="stronglyDisagree" name="question1" />
<label for="stronglyDisagree">Strongly Disagree</label>

<h3>Question 2</h3>
<input type="radio" id="stronglyAgree" value="stronglyAgree" name="question2" />
<label for="stronglyAgree">Strongly Agree</label>
<input type="radio" id="agree" value="agree" name="question2" />
<label for="agree">Agree</label>
<input type="radio" id="disagree" value="disagree" name="question2" />
<label for="disagree">Disagree</label>
<input type="radio" id="stronglyDisagree" value="stronglyDisagree" name="question2" />
<label for="stronglyDisagree">Strongly Disagree</label>

<h3>Question 3</h3>
<input type="radio" id="stronglyAgree" value="stronglyAgree" name="question3" />
<label for="stronglyAgree">Strongly Agree</label>
<input type="radio" id="agree" value="agree" name="question3" />
<label for="agree">Agree</label>
<input type="radio" id="disagree" value="disagree" name="question3" />
<label for="disagree">Disagree</label>
<input type="radio" id="stronglyDisagree" value="stronglyDisagree" name="question3" />
<label for="stronglyDisagree">Strongly Disagree</label>

<h3>Question 4</h3>
<input type="radio" id="stronglyAgree" value="stronglyAgree" name="question4" />
<label for="stronglyAgree">Strongly Agree</label>
<input type="radio" id="agree" value="agree" name="question4" />
<label for="agree">Agree</label>
<input type="radio" id="disagree" value="disagree" name="question4" />
<label for="disagree">Disagree</label>
<input type="radio" id="stronglyDisagree" value="stronglyDisagree" name="question4" />
<label for="stronglyDisagree">Strongly Disagree</label>

<h3>Question 4</h3>
<input type="radio" id="stronglyAgree" value="stronglyAgree" name="question5" />
<label for="stronglyAgree">Strongly Agree</label>
<input type="radio" id="agree" value="agree" name="question5" />
<label for="agree">Agree</label>
<input type="radio" id="disagree" value="disagree" name="question5" />
<label for="disagree">Disagree</label>
<input type="radio" id="stronglyDisagree" value="stronglyDisagree" name="question5" />
<label for="stronglyDisagree">Strongly Disagree</label>

<br><br></div>
</form>
</fieldset>