<!--contains templates page content-->
<div class = "container" id = "cont">
    <h1 id = "amt"><%= title %></h1>
        <div>
            <table class="templates">
        <tr>
            <th>
            <a href = "/template1">
            <!--<img src="../../../public/assets/images/template1.jpg" class="temp1" alt="template 1">-->
                <br> &nbsp; &nbsp; Template 1 &nbsp; &nbsp; 
            </th>
            </a>
            <th>
            <!--<img src="../../../public/assets/images/template2.jpg" class="temp2" alt="template 2">-->
            <a href = "/template2"><br> &nbsp; &nbsp; Template 2 &nbsp; &nbsp;
            </th>
            </a>
         </tr>
         <tr>
            
            <!--<th>
                <a href = "/template3">
            <img src="../images/template3.jpg" class="temp3" alt="template 3">
                <br> Template 3
            </th>
            </a>-->
            
            <!--<th>
                <a href = "/template4">
            <img src="../images/template4.jpg" class="temp4" alt="template 4">
                <br> Template 4
            </th>
            </a>-->
        </tr>
    </table>  
    <br><br>
</div>


<%- include footer.ejs %> 