<div class="survey-container">

    <h1>Template1</h1>
    <h3>Marketing Survey Form Using Checkbox</h3>   

<form>
    <div class="Question">
        <p>Q1: What is your gender?</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputGender" id="inputGenderM" value="Male">
            <label class="form-check-label" for="inputGenderM">Male</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputGender" id="inputGenderF" value="Female">
            <label class="form-check-label" for="inputGenderF">Female</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputGender" id="inputGenderNot" value="option3">
            <label class="form-check-label" for="inputGenderNot">Prefer not to answer</label>
        </div>
    </div>
    <div class="Question">
        <p>Q2: What is your age range?</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputAgeRange" id="inputAgeRange1" value="0-17">
            <label class="form-check-label" for="inputAgeRange1">0-17</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputAgeRange" id="inputAgeRange2" value="18-24">
            <label class="form-check-label" for="inputAgeRange2">18-24</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputAgeRange" id="inputAgeRange3" value="25-34">
            <label class="form-check-label" for="inputAgeRange3">25-34</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputAgeRange" id="inputAgeRange4" value="35-44">
            <label class="form-check-label" for="inputAgeRange4">35-44</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputAgeRange" id="inputAgeRange5" value="45-54">
            <label class="form-check-label" for="inputAgeRange5">45-54</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputAgeRange" id="inputAgeRange6" value="55-64">
            <label class="form-check-label" for="inputAgeRange6">55-64</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputAgeRange" id="inputAgeRange7" value="65+">
            <label class="form-check-label" for="inputAgeRange7">65+</label>
        </div>
    </div>
    <div class="Question">
        <p>Q3: What is your annual income range?</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputAgeRange" id="inputIncomeRange1" value="$9,999 or less">
            <label class="form-check-label" for="inputIncomeRange1">$9,999 or less</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputAgeRange" id="inputIncomeRange2" value="$10,000-24,999">
            <label class="form-check-label" for="inputIncomeRange2">$10,000-24,999</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputAgeRange" id="inputIncomeRange3" value="$25,000-49,999">
            <label class="form-check-label" for="inputIncomeRange3">$25,000-49,999</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputAgeRange" id="inputIncomeRange4" value="$50,000-74,999">
            <label class="form-check-label" for="inputIncomeRange4">$50,000-74,999</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputAgeRange" id="inputIncomeRange5" value="$75,000-99,999">
            <label class="form-check-label" for="inputIncomeRange5">$75,000-99,999</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputAgeRange" id="inputIncomeRange6" value="$100,000 or more">
            <label class="form-check-label" for="inputIncomeRange6">$100,000 or more</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputAgeRange" id="inputIncomeRange7" value="Prefer not to answer">
            <label class="form-check-label" for="inputIncomeRange7">Prefer not to answer</label>
        </div>
    <div>

    <div class="Question">
        <p>Q4: What is your employment status?</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputEmployeeStatus" id="inputEmployeeStatus1" value="Full time">
            <label class="form-check-label" for="inputEmployeeStatus1">Full time</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputEmployeeStatus" id="inputEmployeeStatus2" value="Part time">
            <label class="form-check-label" for="inputEmployeeStatus2">Part time</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputEmployeeStatus" id="inputEmployeeStatus3" value="Self-employed">
            <label class="form-check-label" for="inputEmployeeStatus3">Self-employed</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputEmployeeStatus" id="inputEmployeeStatus4" value="Unemployed">
            <label class="form-check-label" for="inputEmployeeStatus4">Unemployed</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputEmployeeStatus" id="inputEmployeeStatus5" value="Student">
            <label class="form-check-label" for="inputEmployeeStatus5">Student</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inputEmployeeStatus" id="inputEmployeeStatus6" value="Prefer not to answer">
            <label class="form-check-label" for="inputEmployeeStatus6">Prefer not to answer</label>
        </div>
    </div>
    <div class="Question">
        <p>Q5: What is the highest level of formal education you have completed? (please check only one)</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputEdu" id="inputEdu1" value="Graduated High School">
            <label class="form-check-label" for="inputEdu1">Graduated High School</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputEdu" id="inputEdu2" value="Bachelor Degree">
            <label class="form-check-label" for="inputEdu2">Bachelor Degree</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputEdu" id="inputEdu3" value="Post-Graduate Degree">
            <label class="form-check-label" for="inputEdu3">Post-Graduate Degree</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputEdu" id="inputEdu4" value="Master">
            <label class="form-check-label" for="inputEdu4">Master Degree</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputEdu" id="inputEdu5" value="Doctorate">
            <label class="form-check-label" for="inputEdu5">Doctorate Degree</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inputEdu" id="inputEdu6" value="Prefer not to answer">
            <label class="form-check-label" for="inputEdu6">Prefer not to answer</label>
        </div>
    </div>  
  </form>
</div>

