<!--contains templates page content-->
<div class = "container" id = "cont">
    <!-- <h1 id = "amt"><%= title %></h1> -->
        <div>
            <table class="templates">
        <tr>
            <td>
            <a href = "/template1">
            <img src="/assets/images/nespresso.png" class="temp1" alt="nespresso survey">
                <br><br><div class="btn btn-dark">Nespresso Survey</div><br>
            </td>
            </a>
            
            <td>
            <a href = "/template2">    
            <img src="/assets/images/Survey2.png" class="temp2" alt="template 2">
                <br>Template 2
            </td>
            </a>
         </tr>
         <tr>
            <td>
                <a href = "/template3">
            <img src="/assets/images/Student survey.png" class="temp3" alt="Student Survey">
                <br><br><div class="btn btn-dark">Student Survey</div>
            </td>
            </a>

            <td>
                <a href = "/template4">
            <img src="/assets/images/Xbox-logo.wine.png" class="temp4" alt="Xbox Survey">
                <br><br><div class="btn btn-dark">Xbox Survey</div>
            </td>
            </a>
        </tr>
    </table>  
    <br><br>

</div>

</div>


<%- include footer.ejs %> 

