<%- include header.ejs %> 
<%- include main_nav.ejs %>

<style>
h2 {text-align: center;}
div {text-align: left;}
body {
  background-color: #F9EBDE;
  color: #815854;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.border{border-color: #815854;}
</style>

<div style="width: 980px; margin-left: auto; margin-right: auto; color: #815854;">
<body>

<!-- Main Content -->
<h2>Survey Template No.2 </h2>
<hr style="border-style: solid; border-color: rgb(27, 27, 27); border-width: 1px;"> 

<button type="button" class="btn btn-primary">Add your Questions</button>
<button type="button" class="btn btn-primary">Edit your Questions</button>
<br><br>

<fieldset class="border">
<form>
<div class="question">

<h5>Question 1 - Our customer service agent had the necessary knowledge about your query.</h5>
<input type="radio" id="stronglyAgree" value="stronglyAgree" name="question1" />
<label for="stronglyAgree">Strongly Agree</label>
<input type="radio" id="agree" value="agree" name="question1" />
<label for="agree">Agree</label>
<input type="radio" id="disagree" value="disagree" name="question1" />
<label for="disagree">Disagree</label>
<input type="radio" id="stronglyDisagree" value="stronglyDisagree" name="question1" />
<label for="stronglyDisagree">Strongly Disagree</label>

<h5>Question 2 - I found the service fee to be reasonable.</h5>
<input type="radio" id="stronglyAgree" value="stronglyAgree" name="question2" />
<label for="stronglyAgree">Strongly Agree</label>
<input type="radio" id="agree" value="agree" name="question2" />
<label for="agree">Agree</label>
<input type="radio" id="disagree" value="disagree" name="question2" />
<label for="disagree">Disagree</label>
<input type="radio" id="stronglyDisagree" value="stronglyDisagree" name="question2" />
<label for="stronglyDisagree">Strongly Disagree</label>

<h5>Question 3 - I had no difficulty scheduling my appointment</h5>
<input type="radio" id="stronglyAgree" value="stronglyAgree" name="question3" />
<label for="stronglyAgree">Strongly Agree</label>
<input type="radio" id="agree" value="agree" name="question3" />
<label for="agree">Agree</label>
<input type="radio" id="disagree" value="disagree" name="question3" />
<label for="disagree">Disagree</label>
<input type="radio" id="stronglyDisagree" value="stronglyDisagree" name="question3" />
<label for="stronglyDisagree">Strongly Disagree</label>

<h5>Question 4 - The customer service was excellent</h5>
<input type="radio" id="stronglyAgree" value="stronglyAgree" name="question4" />
<label for="stronglyAgree">Strongly Agree</label>
<input type="radio" id="agree" value="agree" name="question4" />
<label for="agree">Agree</label>
<input type="radio" id="disagree" value="disagree" name="question4" />
<label for="disagree">Disagree</label>
<input type="radio" id="stronglyDisagree" value="stronglyDisagree" name="question4" />
<label for="stronglyDisagree">Strongly Disagree</label>

<h5>Question 5 - My waiting time was reasonable.</h5>
<input type="radio" id="stronglyAgree" value="stronglyAgree" name="question5" />
<label for="stronglyAgree">Strongly Agree</label>
<input type="radio" id="agree" value="agree" name="question5" />
<label for="agree">Agree</label>
<input type="radio" id="disagree" value="disagree" name="question5" />
<label for="disagree">Disagree</label>
<input type="radio" id="stronglyDisagree" value="stronglyDisagree" name="question5" />
<label for="stronglyDisagree">Strongly Disagree</label>

<br><br></div>
</form>
</fieldset>

</body>

<%- include ../partials/bottom_nav.ejs %> 
<%- include ../partials/footer.ejs %>