<%- include partials/header.ejs %>

<%- include partials/nav.ejs %>
  
  <!-- Main Content -->
  <main class="container">
    
    <!-- Home page -->
    <div id="home_content">
      <% if (title == "Home") { %>
        <%- include partials/home.ejs %>
      <% } %>
      
  </main>

<%- include partials/footer.ejs %> 
