<%- include partials/header.ejs %>

<%- include partials/nav.ejs %>
  
  <!-- Main Content -->
  <main class="container">

    <!-- Templates page -->
    <div id="templates_page">
      <% if (title == "Templates") { %>
        <%- include partials/templates.ejs %>
      <% } %>

    </div>
      
  </main>

<%- include partials/footer.ejs %> 