<%- include ../partials/header.ejs %>
<%- include ../partials/nav.ejs %>
    

<div class="chart_container">
    <h1 class="sac">Survey Analysis Charts</h1>
    <div class="chart_question2">

        <iframe style="opacity: 0.8; background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-comp229_assignment-qnhvg/embed/charts?id=63968973-abd5-49c2-8889-5eb9749d8a2f&maxDataAge=3600&theme=dark&autoRefresh=true"></iframe>
    </div>
    <div class="chart_question3">
        <iframe style="opacity: 0.8; background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-comp229_assignment-qnhvg/embed/charts?id=639689ab-d836-4358-8a06-609d851fe66d&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    </div>
    <div class="chart_question4">
        <iframe style="opacity: 0.8; background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-comp229_assignment-qnhvg/embed/charts?id=63968a2d-1049-4562-899a-4bc10e00521e&maxDataAge=3600&theme=dark&autoRefresh=true"></iframe>
    </div>
    <div class="chart_question5">
        <iframe style="opacity: 0.8; background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-comp229_assignment-qnhvg/embed/charts?id=63968a5e-e777-4411-895e-0c5b68976379&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>

        <iframe class="cq2" style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-comp229_assignment-qnhvg/embed/charts?id=63968973-abd5-49c2-8889-5eb9749d8a2f&maxDataAge=3600&theme=dark&autoRefresh=true"></iframe>
    </div>
    <div class="chart_question3">
        <iframe class="cq3" style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-comp229_assignment-qnhvg/embed/charts?id=639689ab-d836-4358-8a06-609d851fe66d&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    </div>
    <div class="chart_question4">
        <iframe class="cq4" style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-comp229_assignment-qnhvg/embed/charts?id=63968a2d-1049-4562-899a-4bc10e00521e&maxDataAge=3600&theme=dark&autoRefresh=true"></iframe>
    </div>
    <div class="chart_question5">
        <iframe class="cq5" style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-comp229_assignment-qnhvg/embed/charts?id=63968a5e-e777-4411-895e-0c5b68976379&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>

    </div>
    <div class="chart_question6">
        <iframe class="cq6" style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-comp229_assignment-qnhvg/embed/charts?id=6396973b-d836-4302-8dc2-609d85284fec&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    </div>
</div>


<!--HTML Footer part-->
<%- include ../partials/footer.ejs %> 
