<%- include ../partials/header.ejs %>
<%- include ../partials/nav.ejs %>
  
<div class="chart-container">
<h1 class="sac">Survey Analysis Charts</h1>
    <div class="chart_question2">
        <iframe class="cq2" src="https://charts.mongodb.com/charts-comp229_assignment-qnhvg/embed/charts?id=63967320-1049-481f-83ce-4bc10eef8ad4&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    </div>

    <div class="chart_question3">
    <iframe class="cq3" src="https://charts.mongodb.com/charts-comp229_assignment-qnhvg/embed/charts?id=6396769f-52ab-49bb-8288-e91db355daaa&maxDataAge=3600&theme=dark&autoRefresh=true"></iframe>
    </div>

    <div class="chart_question4">
    <iframe class="cq4" src="https://charts.mongodb.com/charts-comp229_assignment-qnhvg/embed/charts?id=6396770f-e777-4484-8be8-0c5b6888d253&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    </div>

    <div class="chart_question5">
        <iframe class="cq5" src="https://charts.mongodb.com/charts-comp229_assignment-qnhvg/embed/charts?id=6396776f-8637-4f75-8575-50a8ca76a6d9&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    </div>

    <div class="chart_question6">
        <iframe class="cq6" src="https://charts.mongodb.com/charts-comp229_assignment-qnhvg/embed/charts?id=639677b7-d836-4cb2-8d47-609d851370bc&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    </div>
    <input type="button" value="Print This Page" onclick="window.print(); return false;" />
</div>
<!--HTML Footer part-->
<%- include ../partials/footer.ejs %> 