<%- include ../partials/header.ejs %>
<%- include ../partials/nav.ejs %>

<!--HTML Footer part-->
<div class="chart-container">
    <h1 class="sac">Survey Analysis Charts</h1>
    <div class="chart_question2">
        <iframe class="cq2" style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-comp229_assignment-qnhvg/embed/charts?id=63967d97-e777-4a35-898f-0c5b688db0b6&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    </div>
    <div class="chart_question3">
        <iframe class="cq3" style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-comp229_assignment-qnhvg/embed/charts?id=63967e57-6a27-497e-817b-e16f3ef41b9a&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    </div>
    <div class="chart_question4">
        <iframe class="cq4" style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-comp229_assignment-qnhvg/embed/charts?id=63967edf-8637-4648-84fc-50a8ca7bd999&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    </div>
    <div class="chart_question5">
        <iframe class="cq5" style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-comp229_assignment-qnhvg/embed/charts?id=63967f9e-8637-417a-83bd-50a8ca7c502c&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    </div>
    <div class="chart_question6">
        <iframe class="cq6" style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-comp229_assignment-qnhvg/embed/charts?id=63967fe5-52ab-4ecd-8450-e91db35c6105&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    </div>
</div>
<%- include ../partials/footer.ejs %> 