<%- include ../partials/header.ejs %>
<%- include ../partials/nav.ejs %>
  
<div id="chart-container">

    <div id="chart_question2">
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-comp229_assignment-qnhvg/embed/charts?id=63967320-1049-481f-83ce-4bc10eef8ad4&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
            <script></script>
    </div>

    <div id="chart_question3">
    <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-comp229_assignment-qnhvg/embed/charts?id=6396769f-52ab-49bb-8288-e91db355daaa&maxDataAge=3600&theme=dark&autoRefresh=true"></iframe>
    <script></script>
    </div>

    <div id="chart_question4">
    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-comp229_assignment-qnhvg/embed/charts?id=6396770f-e777-4484-8be8-0c5b6888d253&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    <script></script>
    </div>

    <div id="chart_question5">
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-comp229_assignment-qnhvg/embed/charts?id=6396776f-8637-4f75-8575-50a8ca76a6d9&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
        <script></script>
    </div>

    <div id="chart_question6">
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-comp229_assignment-qnhvg/embed/charts?id=639677b7-d836-4cb2-8d47-609d851370bc&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
        <script></script>
    </div>
</div>
<!--HTML Footer part-->
<%- include ../partials/footer.ejs %> 