<%- include ../partials/header.ejs %>
<%- include ../partials/nav.ejs %>

    
    
    
    
    
<!-- Content  for the add page -->
<div class="survey-container">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <h1 id="business_title"><%=title %></h1>

      <form class="form" method="post">

        <p class="instruction"><br>Please fill out the survey below so we will know more about you.</p>
        <div class="from-group">
          <input class="form-check-input" type="hidden" name="surveyType" id="surveyType" value="Student" checked >

        </div>


        <div class="from-group">
          <label for="question0">Q1: What is your name?</label><br>
          <input type="text" class="form-control" id="question0" placeholder="Enter your name" name="question0"  />

      </div>

        <div class="from-group">
           <div class="Q1"> <label for="question1">Are you current student?</label><br></div>
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" id="currentstatus" name="question1" value="Yes" />
                <label class="form-check-label" for="currentstatus">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" id="currentstatus" name="question1" value="No" />
                <label class="form-check-label" for="currentstatus">No</label>
            </div>
            </div>

           <div class="from-group">
         <div class="Q3"> <label for="question3">Select Field of Interest?</label><br></div>
          <br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="question2" id="h1" value="Computer science" >
                <label class="form-check-label" for="h1">Computer science</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="question2" id="h2" value="Avation">
                <label class="form-check-label" for="h2">Avation</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="question2" id="h3" value="Mechincal">
                <label class="form-check-label" for="h3">Mechincal</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="question2" id="h4" value="Arts">
                <label class="form-check-label" for="frequency4">Arts</label>
            </div>
        </div>



        <div class="from-group">
         <div class="Q3"> <label for="question3">What previous education do you have?</label><br></div>
          <br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="question3" id="h1" value="High School" >
                <label class="form-check-label" for="h1">High School</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="question3" id="h2" value="College diploma">
                <label class="form-check-label" for="h2">College diploma</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="question3" id="h3" value="Degree">
                <label class="form-check-label" for="h3">Degree</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="question3" id="h4" value="None">
                <label class="form-check-label" for="frequency4">None</label>
            </div>
        </div>

        
<br>
        <div class="from-group">
            <div class="Q4"><label for="question4">Which is your favorite sport?</label><br></div>
            <br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="question4" id="g1" value="Cricket">
                <label class="form-check-label" for="g1">Cricket</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="question4" id="g2" value="Football">
                <label class="form-check-label" for="g2">Football</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="question4" id="g3" value="badminton">
                <label class="form-check-label" for="g3">badminton</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="question4" id="g4" value="None">
                <label class="form-check-label" for="g4">None</label>
            </div>
          
          </div>

          <br>
          <div class="from-group">
           <div class="Q5"> <label for="question5">How satisfied you are with the studies that you did so far?</label><br></div>
            <br>
            <select name="question5" class="form-control" id="ageRange">
                <option selected>Select</option>
                <option value="Very satisfied">Very satisfied</option>
                <option value="Satisfied">Satisfied</option>
                <option value="Neutral">Neutral</option>
                <option value="Unsatisfied">Unsatisfied</option>
                <option value="Very Unsatisfied">Very Unsatisfied</option>
            </select>
          </div>
          <br>
          <button class="btn btn-outline-light" type="submit">
          <i class="fas fa-edit"></i>Submit
        </button>

        <a href="/templates" class="btn btn-outline-warning">
          <i class="fas fa-undo"></i>Cancel
        </a>
      </form>
    </div>
  </div>
</div>
















<%- include ../partials/footer.ejs %> 

