/* CSS for home page content */
#home_content {
    padding: 100px 0;
    align-content: center;
    margin: auto;
    font-size: 1.2em;
    font-weight: bold;
}

#computer {
    position: absolute;
    clear: both;
}

.survey-container{
    width: auto;
    margin: auto;
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.survey-container h1{
    color: #6A7BA2;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.survey-container form{
    background-color: #6A7BA2;
    color: #FFDFDE;
    padding: 2em;
    border-radius: 10px;
}

.survey-container label[for="type"] {
    font-weight: bold;
    font-size: 1em;
}

.Question{
    padding-top: 15px;
}

.Question p{
    font-weight: bold;
    font-size: 1.2em;
}
