/* CSS for home page content */
#home_content {
    padding: 100px 0;
    align-content: center;
    margin: auto;
    font-size: 1.2em;
    font-weight: bold;
}

#computer {
    position: absolute;
    clear: both;
}