<%- include ../partials/header.ejs %>
<%- include ../partials/nav.ejs %>


<section class="vh-100">
    <div class="row d-flex justify-content-center align-items-center h-50">

      <div class="col-md-9 col-lg-6 col-xl-5">
        <!--<img src="https://bestanimations.com/Computers/funny-computer-animated-gif-30.gif"-->
        <img src="https://goto.onlinesurveybureau.com/images/survey.gif"
        
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">


<main class="container">
  <section id="login">
  <!-- Message Area -->
  <% if(messages.length > 0) {%>
  <div class="alert alert-danger"><%= messages %></div>
  <% } %>

  <div class="row">
    <div class="offset-md-6 col-md-6">
      <h1 class="login_title" id="pl">Please Login</h1>
      <form method="POST" autocomplete="off">
        <fieldset class="form-group">
          <label for="username" id="un">Username: </label>
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="Enter username"
            id="username"
            required
            autofocus
          />
        </fieldset>

        <fieldset class="form-group">
          <label for="password" id="pw">Password: </label>
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Enter password"
            id="password"
            required
          />
        
          <a href="/register" id="reg">Register Here</a>
        </fieldset>

        <fieldset class="form-group text-right">
          <input type="submit" class="btn btn-outline-light" value="Login" />
          <a href="/">
            <input type="button" class="btn btn-outline-warning" value="Cancel" />
          </a>
        </fieldset>
      </form>
    </div>
  </div>
</section>
</main>







      </div>
    </div>
  </div>
  
</section>

<!--HTML Footer part-->
<%- include ../partials/footer.ejs %> 
